# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Django and local runtime files
.env
db.sqlite3
media/
logs/*.log
staticfiles/

# IDE and operating system files
.vscode/
.idea/
.DS_Store
Thumbs.db